<h2><%= user.name %></h2>
<img width="100" height="150" src="<%= user.coverImagePath %>">
<div>User: <%= user.name %></div>
<div>Description: <%= user.description %></div>

<%- include('../partials/deleteForm', { url: `/users/${user.id}` }) %>
